/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
main {
  text-align: center;
  padding-top: 36px;
  font-family: "Montserrat", sans-serif;
}

.search-input {
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  width: 240px;
  border: 1px solid #808080;
  border-radius: 4px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.search-input::placeholder {
  font-size: 16px;
}
.search-btn {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: 8px;
}

.search-input:hover{
outline: auto;
}

.search-input:active, .search-input:focus {
  outline: none; 
  border: 1px solid #4e75ff;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #6c8cff;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 32px;
}

.list-description {
  display: flex;
  justify-content: space-around;
  padding-top: 4px;
  padding-bottom: 4px;
}
.description-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.description-count {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item-card{
  border: 1px solid #808080;
}

.loader-container{
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
}

.loader {
  width: 86px;
  height: 50px;
  border-radius: 50px;
  background:
    radial-gradient(farthest-side,#0000 calc(100% - 10px),#000000 calc(100% - 10px) 100%,#0000) left,
    radial-gradient(farthest-side,#0000 calc(100% - 10px),#000000 calc(100% - 10px) 100%,#0000) right;
  background-size: calc(50% + 5px) 100%;
  background-repeat: no-repeat;
  position: relative;
  animation: flipX 1s infinite linear;
}
.loader:before {
  content: "";
  position: absolute;
  inset:0;
  margin:auto;
  width:10px;
  height: 10px;
  border-radius: 50%;
  background:#000;
  transform-origin: -14px 50%;
  animation: rotate 0.75s infinite linear;
}

@keyframes flipX {
    0%,49.99% { transform:scaleX(1)}
    50%,100% { transform:scaleX(-1)}
}

@keyframes rotate {
    100% { transform:rotate(360deg)}
}
    

  .item-img{
    object-fit: cover;
    height: 182px;
  }